:root{
    --cs_black: black;
    --cs_white: white;
    --cs_red: #CD3D0F;
    --cs_darkgrey: #1F1F1F;
    --cs_lightgrey: #848484;
    --cs_lightgrey_bg: #BEBCBB;
    --cs_lightgrey_btn: #D9DADC;
    --cs_blue: #161C3B;
    --cs_lightblue: #00439C;
    --cs_blue_btn: #2D64E6;
}
/* general */
.debug{
    border: 1px solid black;
    height: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.cs_hero{
    color: var(--cs_white);
    background-position: center top;
    background-size: cover;
}
.cs_hero img:not(.img-fluid), .cs_sie{
    width: 250px;
}
.cs_clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.cs_lightgrey_text{
    color: var(--cs_lightgrey);
}
a{
    color: var(--cs_white);
    text-decoration: none;
}
a:hover{
    color: var(--cs_white);
}
/* bottoni */
.cs_btn_contorno{
    padding: 7px 2px;
    border-radius: 100px;
    border: 3px solid transparent;
    display: inline-block;
}
.cs_btn{
    padding: 8px 10px;
    border-radius:100px;
    color: var(--cs_white);
}
.cs_red_btn{
    background-color: var(--cs_red);
}
.cs_blue_btn{
    background-color: var(--cs_blue_btn);
}
.cs_lightgrey_btn{
    background-color: var(--cs_lightgrey_btn);
    color: var(--cs_blue_btn);
}
.cs_white_btn{
    background-color: var(--cs_white);
    color: var(--cs_black);
}
.cs_black_btn{
    background-color: var(--cs_black);
    color: var(--cs_white);
}
#play-5 .cs_btn_contorno:hover, #esplora .cs_btn_contorno:hover{
    border-color: #0d6efd;
}
#takes_two .cs_btn_contorno:hover, #jumbotron .cs_btn_contorno:hover{
    border-color: var(--cs_red);
}
#play_plus .cs_btn_contorno:hover{
    border-color: var(--cs_lightgrey_btn);
}
#play_plus .cs_btn:hover{
    color: var(--cs_blue_btn);
}
#play_now .cs_btn_contorno:hover{
    border-color: var(--cs_white);
}
#play_now .cs_btn:hover{
    color: var(--cs_black);
}
/* header */
header{
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* header top */
.cs_header_top{
    background-color: var(--cs_black);
    padding: 10px 20px;
}
.cs_header_top img{
    float: right;
    width: 100px;
}
/* header down */
.cs_header_down{
    background-color: var(--cs_white);
}
.cs_header_down .navbar-light .navbar-nav .nav-link{
    color: var(--cs_black);
}
.cs_header_down .dropdown{
    position: static;
}
.cs_header_down .dropdown-toggle::after{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-size: 0.8rem;
    font-weight: 900;
    display: inline-block;
    border: 0;
    vertical-align: middle;
}
.cs_header_down .dropdown-toggle.show::after{
    content: "\f106";
}
.cs_header_down .navbar-collapse {
    justify-content: space-between;
}
.cs_header_down .dropdown-menu{
    margin-top: -1px;
    box-shadow:  0px 11px 12px #888888;
}
.cs_header_down .list-inline-item img{
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 15px;
    width: 75%;
}
.cs_header_down .list-inline-item img:hover{
    border-color: #888888;
    box-shadow: 1px 1px 10px #888888;
}
.cs_header_down .list-inline-item a{
    color: var(--cs_black);
}
.cs_header_down .list-inline-item a:hover, .cs_header_down .navbar-light .navbar-nav .nav-link:hover{
    color: var(--cs_blue_btn);
}
.cs_header_down .list-inline-item .cs_circle::before{
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-size: 0.5rem;
    font-weight: 900;
    display: inline-block;
    color: #0d6efd;
    margin: 0 5px 3px;
    border: 0;
    vertical-align: middle;
}
.cs_lens{
    width: 30px;
}
/* /header */
/* main */
section:not(#jumbotron, #play_plus, #play_now), footer{
    padding: 50px 0;
}
/* jumbotron */
#jumbotron{
    padding: 200px 0 20px;
    margin-top: 114px;
    background-image: url(../img/jumbo-bg.png);
    animation: banner_change 30s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
@keyframes banner_change {
    0%{background-image: url(../img/jumbo-bg.png);}
    50%{background-image: url(../img/stranger-in-paradise-final-fantasy-origin-hero-banner.jpg);}
}
/* #jumbotron>.container>.col-12>div{
    animation: title_appears 3s linear;
    opacity: 1;
}
@keyframes title_appears{
    from {opacity: 0}
    to {opacity: 1}
} */
.cs_jumbo_default{
    animation: default_change 30s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    opacity: 1;
}
@keyframes default_change{
    0% {opacity: 1}
    50% {opacity: 0}
}
.cs_jumbo_change{
    animation:  logo_change 30s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    opacity: 0;
    top: 0;
    left: 0;
    color: var(--cs_black);
}
@keyframes logo_change{
    0% {opacity: 0}
    50% {opacity: 1}
}
/* games */
#games img{
    position: relative;
    bottom: 0;
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 15px;
    transition: all 0.8s;
}
#games img:hover{
    bottom: 20px;
    box-shadow: 0 10px 14px  #888888;
    border-color: #0d6efd;
}
/* play-5 */
#play-5 .cs_card{
    cursor: pointer;
    height: 100%;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
#play-5 h2{
    font-size: 2rem;
}
.disabled_card{
    opacity: 0.5;
}
#play-5 .cs_card:hover{
    opacity: 1;
    border-color: #0d6efd;
}
/* takes-two */
#takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/* nuove uscite */
#nuove_uscite{
    background-color: var(--cs_darkgrey);
}
#nuove_uscite .card, #esplora .card{
    background-color: transparent;
    border: none;
}
#nuove_uscite img{
    border-radius: 20px;
    transition: all 0.5s;
}
#nuove_uscite img:hover{
    transform: scale(1.1);
}
#nuove_uscite .card-body{
    padding: 0.5rem 0;
}
/* #play_plus */
#play_plus{
    background-color: var(--cs_lightgrey_bg);
}
/* play now */
#play_now{
    background-color: var(--cs_blue);
}
/* social */
#social img{
    transition: all 0.5s;
}
#social img:hover{
    transform: scale(1.1);
}
/* /main */
/* footer */
footer{
    background-color: var(--cs_lightblue);
    color: var(--cs_white);
}
.cs_foot_logo{
    width: 70px;
}
.cs_globe{
    width: 20px;
}
footer li{
    padding: 5px 0;
}
/* media */
@media screen and (min-width: 768px) {
    .cs_width_50{
        width: 75%;
    }
}
@media screen and (min-width: 992px) {
    .cs_width_50{
        width: 50%;
    }
}