:root{
    --cs_black: rgb(0,0,0);
    --cs_white: white;
    --cs_red: #CD3D0F;
    --cs_darkgrey: #1F1F1F;
    --cs_lightgrey: #848484;
    --cs_lightgrey_bg: #BEBCBB;
    --cs_lightgrey_btn: #D9DADC;
    --cs_blue: #161C3B;
    --cs_lightblue: #00439C;
    --cs_blue_btn: #2D64E6;
}
/* general */
.debug{
    border: 1px solid black;
    height: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.cs_hero{
    color: var(--cs_white);
    background-position: center top;
    background-size: cover;
}
.cs_hero img:not(.img-fluid), .cs_sie{
    width: 250px;
}
.cs_clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.cs_lightgrey_text{
    color: var(--cs_lightgrey);
}
a{
    color: var(--cs_white);
    text-decoration: none;
}
a:hover{
    color: var(--cs_white);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
/* bottoni */
.cs_btn_contorno{
    padding: 7px 2px;
    border-radius: 100px;
    border: 3px solid transparent;
    display: inline-block;
}
.cs_btn{
    padding: 8px 10px;
    border-radius:100px;
    color: var(--cs_white);
}
.cs_red_btn{
    background-color: var(--cs_red);
}
.cs_blue_btn{
    background-color: var(--cs_blue_btn);
}
.cs_lightgrey_btn{
    background-color: var(--cs_lightgrey_btn);
    color: var(--cs_blue_btn);
}
.cs_white_btn{
    background-color: var(--cs_white);
    color: var(--cs_black);
}
.cs_black_btn{
    background-color: var(--cs_black);
    color: var(--cs_white);
}
.cs_black_blue_btn{
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--cs_blue_btn);
}
#games .cs_black_blue_btn:hover, #altri_giochi .cs_black_blue_btn:hover{
    color: var(--cs_blue_btn);
}
#jumbotron .cs_btn_contorno:hover, #games .cs_white_contorno.cs_btn_contorno:hover, #giochi_arrivo .cs_btn_contorno:hover{
    border-color: var(--cs_white);
}
.cs_black_contorno:hover{
    border-color: rgba(0, 0, 0, 0.8);
}
.cs_white_btn:hover{
    color: var(--cs_black);
}
#esclusive .cs_btn_contorno:hover, #altri_giochi .cs_btn_contorno:hover{
    border-color: var(--cs_blue_btn);
}
/* header */
header{
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* header top */
.cs_header_top{
    background-color: var(--cs_black);
    padding: 10px 20px;
}
.cs_header_top img{
    float: right;
    width: 100px;
}
/* header down */
.cs_header_down{
    background-color: var(--cs_white);
}
.cs_header_down .navbar-light .navbar-nav .nav-link{
    color: var(--cs_black);
}
.cs_header_down .dropdown{
    position: static;
}
.cs_header_down .dropdown-toggle::after{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-size: 0.8rem;
    font-weight: 900;
    display: inline-block;
    border: 0;
    vertical-align: middle;
    transition: all 0.5s;
}
.cs_header_down .dropdown-toggle.show::after{
    transform: rotate(-180deg);
}
.cs_header_down .navbar-collapse {
    justify-content: space-between;
}
.cs_header_down .dropdown-menu{
    margin-top: -1px;
    box-shadow:  0px 11px 12px #888888;
    animation: dropdown_show 4s linear;
    overflow: hidden;
}
@keyframes dropdown_show {
    from{max-height: 0;}
    to{max-height: 880px;}
}
.cs_header_down .list-inline-item img{
    border: 1px solid transparent;
    border-radius: 15px;
    width: 75%;
}
.cs_header_down .list-inline-item img:hover{
    border-color: #888888;
    box-shadow: 1px 1px 10px #888888;
}
.cs_header_down .list-inline-item a{
    color: var(--cs_black);
}
.cs_header_down .list-inline-item a:hover, .cs_header_down .navbar-light .navbar-nav .nav-link:hover{
    color: var(--cs_blue_btn);
}
.cs_header_down .list-inline-item .cs_circle::before{
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-size: 0.5rem;
    font-weight: 900;
    display: inline-block;
    color: #0d6efd;
    margin: 0 5px 3px;
    vertical-align: middle;
}
.cs_lens{
    width: 30px;
}
/* /header */
/* main */
section:not(#jumbotron), footer{
    padding: 50px 0;
}
/* jumbotron */
#jumbotron{
    height: 598px;
    margin-top: 114px;
    background-image: url(../img/ps5-games-hero-banner.jpg);
}
#jumbotron>div{
    width: 400px;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.9);
}
#jumbotron>div>img{
    width: 180px;
    margin-bottom: 20px;
}
/* esclusive */
.cs_wrapper{
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
}
.cs_video_wrapper{
    width: 400px;
    position: absolute;
    bottom: 200px;
}
.cs_right_wrapper{
    right: 45px;
}
.cs_left_wrapper{
    left: 45px;
}
.fa-circle-play{
    font-size: 5rem;
}
.cs_video_wrapper:hover, .cs_wrapper:hover{
    transform: scale(1.1);
    box-shadow: 1px 7px 12px #888888;
}
/* games */
#games{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ps5-games-page-background-block-desktop-03-en-19jul21.jpg);
}
.card{
    border: none;
    background-color: transparent;
}
.cs_w_90{
    width: 90%;
}
.games_card .cs_btn{
    display: block;
    text-align: center;
}
.games_card .cs_btn_contorno{
    padding: 7px 7px;
    position: relative;
    bottom: 100px;
}
.games_card .card-body{
    margin-top: -100px;
}
/* giochi in arrivo */
#giochi_arrivo{
    color: var(--cs_white);
    background-color: var(--cs_darkgrey);
}
#giochi_arrivo .cs_video_wrapper{
    bottom: 250px;
}
#giochi_avvincenti img{
    border-radius: 20px;
    transition: all 0.5s;
}
#giochi_avvincenti img:hover{
    transform: scale(1.1);
}
#giochi_avvincenti .card-body{
    padding: 1rem 0;
}
/* accordion */
.accordion-button {
    color: var(--cs_black);
    font-size: 1.5rem;
}
.cs_grey{
    background-color: rgb(240, 240, 240);
}
.accordion-button:not(.collapsed){
    color: var(--cs_white);
    background-color: var(--cs_blue_btn);
}
.accordion-button:hover{
    color: var(--cs_white);
    background-color: var(--cs_blue_btn);
}
.accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-bottom: auto;
    background: none;
}
button:not(.collapsed)::after {
    transform: none !important;
    content: '\f068';
}
.accordion-body p{
    font-size: 1.4rem;
}
.accordion-body a{
    color: var(--cs_blue_btn);
    text-decoration: underline;
}
/* footer */
footer{
    background-color: var(--cs_lightblue);
    color: var(--cs_white);
}
.cs_foot_logo{
    width: 70px;
}
.cs_globe{
    width: 20px;
}
footer li{
    padding: 5px 0;
}
/* /footer */
